@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #DADFF5;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

